crypt:
  encoder: base64
  password: null
environment: development
feed:
  default_tags: []
github:
  urls:
    root: https://github.com
google:
  api:
    key: null
  news:
    urls:
      root: https://news.google.com/rss/search?hl=ja&gl=JP&ceid=JP%3Aja
http:
  retry:
    limit: 3
    seconds: 1
line:
  urls:
    api: https://api.line.me
logger:
  mask_fields:
    - password
    - secret
    - auth
package:
  authors:
    - Tatsuya Koishi
  description: 投稿のソース・投稿先・スケジュールの3要素を組み合わせた、単純なつぶやきボットを作成するツール。複数のボットが管理できる。
  email:
    - tkoishi@b-shock.co.jp
  license: MIT
  url: https://github.com/pooza/tomato-shrieker
  version: 3.9.4
nostr:
  relays:
    - wss://relay.damus.io
    - wss://nos.lol
    - wss://relay.nostr.band
piefed:
  subject:
    max_length: 50
  verify_peer: true
scheduler: {}
slack:
  hooks: []
source:
  classes:
    - class: FeedSource
      config: /source/feed
    - class: FeedSource
      config: /source/url
    - class: CommandSource
      config: /source/command
    - class: TextSource
      config: /source/text
    - class: GoogleNewsSource
      config: /source/news/url
    - class: GoogleNewsSource
      config: /source/news/phrase
    - class: GitHubRepositorySource
      config: /source/github/repository
    - class: GitHubRepositorySource
      config: /source/github/repos
    - class: IcalendarSource
      config: /source/calendar
    - class: IcalendarSource
      config: /source/ical
    - class: YouTubeChannelSource
      config: /source/youtube/channel/id
    - class: YouTubeChannelSource
      config: /source/youtube/channel/url
sources: []
sqlite3:
  db: db.sqlite3
youtube:
  urls:
    root: https://www.youtube.com
    feed: https://www.youtube.com/feeds/videos.xml
