[Unit]
Description=tomato-shrieker
After=network.target

[Service]
Type=simple
User=__username__
WorkingDirectory=/home/__username__/path/to/tomato-shrieker
ExecStart=/bin/bash -lc 'bundle exec bin/scheduler_daemon.rb start'
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=15
Restart=always
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so"

[Install]
WantedBy=multi-user.target
